<div class="container">
    <h2>SVG Successfully Uploaded</h2>
    <p class="text-secondary"><b>SVG has the following properties</b></p>
    <ul>
        <li class="text-start ms-5">Number of paths: {{ g.pathCount }}</li>
        <li class="text-start ms-5">Estimated Width: <div class="d-inline" id="estimatedWidth">{{ '%0.2f'| format(g.estimatedWidth|float)}}</div> </li>
        <li class="text-start ms-5">Estimated Height: <div class="d-inline" id="estimatedHeight">{{ '%0.2f'| format(g.estimatedHeight|float)}}</div>  </li>
    </ul>
    <p>Scale will be adjusted to {{ g.scaleBy }}</p>
    <p>Default values have been updated. Proceed to next section.</p>
</div>